In [44]:
my_str='Kris123'

In [45]:
my_str.isalnum()

True

In [46]:
my_str='krish'

In [47]:
my_str.isalpha()

True

In [48]:
my_str.isdigit()

False

In [49]:
my_str.istitle()             # test if string contain title words like Krish

False

In [50]:
my_str.isupper()

False

In [51]:
my_str.islower()

True

In [52]:
my_str.isspace()

False

In [53]:
my_str.endswith('3')

False

In [54]:
my_str.startswith("K")

False

# list  = []
list is the data structure  in python that is a mutuable ,changeable or ordered squence of element. each value or element that inside also called iteam.

In [55]:
eg1=[]                 # empty list

In [56]:
type(eg1)

list

In [57]:
eg2=list()               #empty list

In [58]:
type(eg2)

list

In [59]:
eg3=['love','me','you',344,6,986]

 eg3

In [61]:
len(eg3)

6

### Append

In [87]:
# .append is ued to add element in the list

eg1.append('me')

In [65]:
eg1

['me']

In [66]:
eg1.append('too')

In [67]:
eg1.append('myyy')

In [68]:
eg1

['me', 'too', 'myyy']

In [80]:
# .insert is used to add in specific order in list

eg3.insert(1,'love')
eg3.insert(3,'raj')
eg3.insert(4,'shree')
eg3.insert(5,'friends')

In [81]:
eg3

['love', 'love', 'me', 'raj', 'shree', 'friends', 'you', 344, 6, 986]

In [82]:
eg3[5]

'friends'

In [83]:
# range

eg3[2:]

['me', 'raj', 'shree', 'friends', 'you', 344, 6, 986]

In [86]:
eg3[::-1]                                #reverse list

[986, 6, 344, 'you', 'friends', 'shree', 'raj', 'me', 'love', 'love']

In [89]:
eg3.append([23,45,65,])

In [90]:
eg3

['love',
 'love',
 'me',
 'raj',
 'shree',
 'friends',
 'you',
 344,
 6,
 986,
 [23, 45, 65],
 [23, 45, 65]]

# Extend method

In [92]:
lst=[2,4,5,6,7,5]

In [94]:
lst.extend([10,11,12])

In [95]:
lst

[2, 4, 5, 6, 7, 5, 10, 11, 12]

#  various opration that we can perform in list

In [97]:
lst1=[1,2,34,5,5,6,6]

In [98]:
sum(lst1)

59

In [118]:
lst1*2

[1, 2, 3, 4, 5, 3, 1, 3, 4, 1, 2, 3, 4, 5, 3, 1, 3, 4]

# Pop() Method

In [99]:
lst1.pop()                #last element delete in list
4

6

# count() : calculates total occurrence of given element of list

In [103]:
list2=[1,1,1,1,3,2,3,3,3,4,4,45,3,3,5,3]

In [104]:
list2.count(1)

4

In [106]:
list2.count(3)

7

In [107]:
list2.count(4)

2

# index()

return  the index of first occurrence . start and end  index are not necessary.

In [109]:
lst1=[1,2,3,4,5,3,1,3,4]

In [112]:
lst1.index(2)

1

In [115]:
lst1.index(4,0,6)                  #0 to 6 is range find element in list

3

In [116]:
min(lst1)

1

In [117]:
max(lst1)

5

#